@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model List<GetAllCarsWithBrandNameForAdminDto>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Admin Panel car list</h4>

                <table id="complex-header-datatable" class="table dt-responsive nowrap">
                    <thead class="thead-light">
                        @*   <tr>
                            <th colspan="3">Contact</th> 
                            <th rowspan="2" class="align-middle">Name</th>
                            <th colspan="2">Actions</th>
                        </tr> *@
                        <tr>
                            <th>Image</th>
                            <th>Brand Name</th>
                            <th>Model</th>
                            <th>Transmission</th>
                            <th>Price list</th>
                            <th>Actions</th>
                            <th>Seat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var car in Model)
                        {
                            <tr>
                                <td>
                                    <div style="width:150px; height:100px;">
                                        <img src="@car.CoverImageUrl" class="img-fluid" />
                                    </div>
                                </td>
                                <td>@car.BrandName</td>
                                <td>@car.Model</td>
                                <td>@car.Transmission</td>
                                <td>
                                    @foreach(var item in car.Pricings)
                                    {
                                        <p>@item.PricingName - @item.Amount AZN</p>
                                    }
                                </td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a asp-area="Admin" asp-controller="Car" asp-action="Update" asp-route-id="@car.Id" class="btn btn-secondary btn-sm mr-2">Edit</a>
                                        <a asp-area="Admin" asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger btn-sm mr-2">Delete</a>
                                        <a asp-controller="Car" asp-action="Detail" asp-route-id="@car.Id" class="btn btn-dark btn-sm ">Visit this website</a>
                                    </div>
                                </td>
                                <td>@car.Seat</td>
                            </tr>
                        }
                      
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Brand Name</th>
                            <th>Model</th>
                            <th>Transmission</th>
                            <th>Price list</th>
                            <th>Actions</th>
                            <th>Seat</th>
                        </tr>
                    </tfoot>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

